<section
  id="about"
  class="flex flex-col items-center gap-4 mb-40"
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2 class="gradient-text text-center font-extrabold tracking-tight text-6xl mt-16">
      About
    </h2>
  </div>
  <p class="max-w-4xl text-center sm:text-left">
    Branta Web was founded by Parker Davis, a software engineer with a background in field biology research and music.
    From years of experience working with various environmental organizations he has learned the common technological 
    obstacles organizations face and wants to make integration seamless and effortless. 
  </p>
  <slot />
</section>
