<section
  id="about"
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2 class="gradient-text text-center font-extrabold tracking-tight text-6xl">
      About
    </h2>
  </div>
  <p class="max-w-4xl text-center">
    Branta Web was founded by <span class="text-primary">Parker Davis</span>, a software engineer with a background in field biology research and music.  Years of experience working with various environmental organizations, he became familiar with the common technological obstacles organizations face and wants to make the integration of the two effortless. 
  </p>
  <slot />
</section>
