---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Custom applications",
    description: "for outreach and education, data collection and management, data visualization.",
    icon: "mdi:application-brackets-outline",
  },
  {
    title: "Website Design and Development",
    description:
      "With a focus on user experience and accessibility.",
    icon: "mdi:pencil-ruler",
  },
  {
    title: "Data services and database management",
    description:
      "Keep your data safe, secure, and accessible.",
    icon: "mdi:database",
  },
];
---

<ContentSection title="Services" id="services">
  <Fragment slot="lead">
    <span class="text-primary">Branta Web</span> provides a variety of services for your web needs.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
