---
import { Icon } from "astro-icon/components";
---

<section class="flex flex-col items-center gap-4">
  <div class="flex flex-col items-center gap-4">
    <h2
      class="gradient-text mt-16 text-center font-extrabold tracking-tight text-6xl"
    >
      We want to hear from you!
    </h2>
    <div class="grid max-w-3xl place-items-center p-4 sm:grid-cols-2">
      <div class="flex max-w-lg flex-col gap-4">
        <p class="text-center sm:text-left">
          Branta Web strives to provide the absolute best web and data services
          for environmental, research, and non-profit organizations to help them
          achieve their goals. To better understand the specific needs of our
          clients, we would like your input!
        </p>
        <p class="text-center sm:text-left">
          Fill out a short questionnaire to receive a free 30 minute
          consultation and a discount on any future services.
        </p>
        <a href="/survey" class="self-center">
          <button class="button"> Click here</button>
        </a>
      </div>
      <div class="hidden sm:block">
        <Icon name="flat-color-icons:survey" class="h-full w-full" />
      </div>
    </div>
  </div>
</section>
