<section class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8">
  <div class="flex flex-col items-center gap-4">
      <h2 class="gradient-text text-center font-extrabold tracking-tight text-4xl">We want to hear from you!</h2>
      <p class="max-w-2xl text-center">
        Branta Web strives to provide the absolute best web and data services for
        environmental, research, and non-profit organizations to help them achieve
        their goals. To better understand the specific needs of our clients, we
        would like your input!
      </p>
      <p class="max-w-2xl text-center">
        Fill out a short questionnaire to receive a free 30 minute consultation and
        a 25% discounted rate for any future services.
      </p>
      <button class="btn">Click here</button>

  </div>
</section>
