---
import branta from "../assets/Branta Web-logos_transparent2.png";
---

<section class="relative h-full bg-[#f4a79f]">
  <div class="relative grid h-full place-items-center">
    <img
      src={branta.src}
      height={branta.height}
      width={branta.width}
      alt="Logo"
    />
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>
