---
import branta from "~/assets/Branta Web-logos_transparent2.png";
import brantaBlack from '~/assets/Branta Web-logos_black-trim.png'
import brantaWhite from '~/assets/Branta Web-logos_white-trim.png'
---

<div class="relative h-full bg-[#3f7e2a] bg-gradient-to-br from-emerald-500 to-lime-600">
  <div class="relative grid h-full place-items-center">
    <img
      src={brantaWhite.src}
      height={brantaWhite.height}
      width={brantaWhite.width}
      alt="Logo"
    />
  </div>
</div>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>
